In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder

import pickle

In [2]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [4]:
## Preprocess the data
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
data['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [6]:
data['Gender'].value_counts()

Gender
Male      5457
Female    4543
Name: count, dtype: int64

In [7]:
#encode categorical variables
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])

In [8]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [9]:
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo=OneHotEncoder()
geo_encoder=onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [10]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [11]:
geo_encoded_df=pd.DataFrame(geo_encoder.toarray(),columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [12]:
#combine the encoded columns with the original data
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)

In [13]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [14]:
#save the encoders & scaler
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)
with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [15]:
#divide the data in dependent & independent features
X=data.drop('Exited',axis=1)
y=data['Exited']

#split the data into training & test sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

#scale these features
scaler=StandardScaler()
X_train_scaled=scaler.fit_transform(X_train)
X_test_scaled=scaler.transform(X_test)

In [16]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

ANN IMPLEMENTATION

In [17]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

WARNING:tensorflow:From c:\UDEMY COURSE-ML,DL,NLP\DEEP LEARNING\ANN PROJECT\venv\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [18]:
#Build the ANN model
model = Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),#1st hidden layer
    Dense(32,activation='relu'),#2nd hidden layer
    Dense(1,activation='sigmoid')#output layer
])

WARNING:tensorflow:From c:\UDEMY COURSE-ML,DL,NLP\DEEP LEARNING\ANN PROJECT\venv\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [19]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [20]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss=tensorflow.keras.losses.BinaryCrossentropy()
loss

In [21]:
#compile the model
model.compile(optimizer=opt,loss="binary_crossentropy",metrics=['accuracy'])

In [22]:
#setup the tensorboard
from tensorflow.keras.callbacks import TensorBoard,EarlyStopping
log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [23]:
##setup early stopping 
#We use early stopping to stop training when the modelâ€™s validation performance stops improving, preventing overfitting and unnecessary weight updates even if the maximum number of epochs is not reached.

early_stopping_callback=EarlyStopping(monitor='val_loss',patience=5,restore_best_weights=True)

In [24]:
##Train the model
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\UDEMY COURSE-ML,DL,NLP\DEEP LEARNING\ANN PROJECT\venv\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\UDEMY COURSE-ML,DL,NLP\DEEP LEARNING\ANN PROJECT\venv\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 2s 4ms/step - loss: 557.5632 - accuracy: 0.6678 - val_loss: 165.0975 - val_accuracy: 0.8030
Epoch 2/100
250/250 [==============================] - 1s 2ms/step - loss: 121.9472 - accuracy: 0.6800 - val_loss: 60.6658 - val_accuracy: 0.8035
Epoch 3/100
250/250 [==============================] - 1s 2ms/step - loss: 62.0969 - accuracy: 0.6883 - val_loss: 14.0248 - val_accuracy: 0.7650
Epoch 4/100
250/250 [==============================] - 1s 2ms/step - loss: 27.5761 - accuracy: 0.6810 - val_loss: 22.3356 - val_accuracy: 0.4785
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 9.4467 - accuracy: 0.6798 - val_loss: 2.6961 - val_accuracy: 0.8040
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 4.5693 - accuracy: 0.6850 - val_loss: 2.6396 - val_accuracy: 0.8010
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 2.9247 - accuracy: 0.7065 - val_loss: 0.6555 - val_accuracy: 0.8035
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5469 - accuracy: 0.7943 - val_loss: 0.5045 - val_accuracy: 0.8035
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5092 - accuracy: 0.7945 - val_loss: 0.4948 - val_accuracy: 0.8035
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5075 - accuracy: 0.7945 - val_loss: 0.4946 - val_accuracy: 0.8035
Epoch 11/100
250/250 [==============================] - 1s 2ms/step - loss: 0.5073 - accuracy: 0.7945 - val_loss: 0.4946 - val_accuracy: 0.8035
Epoch 12/100
250/250 [==============================] - 1s 2ms/step - loss: 0.5075 - accuracy: 0.7945 - val_loss: 0.4947 - val_accuracy: 0.8035
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5075 - accuracy: 0.7945 - val_loss: 0.4948 - val_accuracy: 0.8035
Epoch 14/100
250/250 [==============================] - 1s 2ms/step - loss: 0.5074 - accuracy: 0.7945 - val_loss: 0.4948 - val_accuracy: 0.8035
Epoch 15/100
250/250 [==============================] - 1s 2ms/step - loss: 0.5074 - accuracy: 0.7945 - val_loss: 0.4944 - val_accuracy: 0.8035
Epoch 16/100
250/250 [==============================] - 1s 2ms/step - loss: 0.5083 - accuracy: 0.7945 - val_loss: 0.4948 - val_accuracy: 0.8035
Epoch 17/100
250/250 [==============================] - 1s 2ms/step - loss: 0.5080 - accuracy: 0.7945 - val_loss: 0.4955 - val_accuracy: 0.8035
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5077 - accuracy: 0.7945 - val_loss: 0.4954 - val_accuracy: 0.8035
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5078 - accuracy: 0.7945 - val_loss: 0.4952 - val_accuracy: 0.8035
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5080 - accuracy: 0.7945 - val_loss: 0.4949 - val_accuracy: 0.8035

In [25]:
model.save('model.h5')

c:\UDEMY COURSE-ML,DL,NLP\DEEP LEARNING\ANN PROJECT\venv\lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [26]:
## Load Tensorboard Extension
%load_ext tensorboard

In [27]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 17812), started 2:28:44 ago. (Use '!kill 17812' to kill it.)

In [ ]:
##Load pickle file